.DS_Store
subtitles/
subtitles/.DS_Store
subtitles/BlueSky Live 1-6-2025： SEC hoops, NFL Playoffs set and more \[yRow_cT0ZiM].en.srt
subtitles/BlueSky Live 1-7-2025： Hot seats, college basketball lines and more \[yFBCuvA6siI].en.srt
subtitles/BlueSky Live 1-13-2025： Ole Miss improves to 3-0 in SEC, NFL Playoffs and more \[dpvwAmzLy_s].en.srt
subtitles/BlueSky Live 1-14-2025： Rebels head to T-town, SEC hoops, revenue sharing and more \[h5lvmtP_SPM].en.srt
subtitles/BlueSky Live 1-15-2025： Ole Miss has trajectory-changing win at Alabama \[-dPKEqbEDbI].en.srt
subtitles/BlueSky Live 1-21-2025： Chris Beard joins \[uu67mJwmau4].en.srt
subtitles/BlueSky Live 1-22-2025： Ole Miss and Texas A&M set for showdown \[ulSnHz8oF9g].en.srt
subtitles/BlueSky Live 1-27-2025： Hoops, Super Bowl, baseball and more \[N6omAF_5HHc].en.srt
subtitles/BlueSky Live 1-28-2025： SEC hoops and, well, stuff \[xw8tq6dwH1Q].en.srt
subtitles/BlueSky Live 1-29-2025： Texas and tailgating (those are separate topics, by the way) \[S-ZPJtFzblI].en.srt
subtitles/BlueSky Live 2-3-2025： Rebels lose to Auburn, NBA blockbusters and more \[2i7rz76UXZ0].en.srt
subtitles/BlueSky Live 2-4-25： Ole Miss entertains Kentucky in key SEC showdown \[N63WezhDtJI].en.srt
subtitles/BlueSky Live 2-5-25： Ole Miss blows out Kentucky, enhances NCAA Tournament resume \[dxYRMby--K4].en.srt
subtitles/BlueSky Live 2-10-2025： Super Blowout LIX, Ole Miss beats LSU, more \[T8--h_kVaWU].en.srt
subtitles/BlueSky Live 2-11-2025： SEC hoops, football season wrap, more \[yw2v9yyuj2w].en.srt
subtitles/BlueSky Live 2-12-2025： Rebels travel to South Carolina, baseball media day, more \[nG-BCz62kds].en.srt
subtitles/BlueSky Live 2-18-2025： An assortment of college sports topics \[ONWG0RKDbuA].en.srt
subtitles/BlueSky Live 2-24-2025： Hoops loses at Vandy, baseball sweeps EKU, more \[jIHGuiEBU8o].en.srt
subtitles/BlueSky Live 2-25-2025： NFL Scouting Combine, college hoops, mock drafts and more \[PVAVlN_PDH0].en.srt
subtitles/BlueSky Live 2-26-2025： Ole Miss gets shot at Auburn, Rebels beat USM, more \[PbuohL_GIrk].en.srt
subtitles/BlueSky Live 3-3-2025： Weekend recap \[5QZvxs5V040].en.srt
subtitles/BlueSky Live 3-4-2025： Brackets, NFL Scouting Combine and more \[vgqj8bCdgeI].en.srt
subtitles/BlueSky Live 3-17-2025： Rebels are Milwaukee-bound \[RfHYnyaFSYA].en.srt
subtitles/BlueSky Live 3-31-2025： Rebels fall in Sweet 16, baseball takes two from Florida, more \[c3XMH2Sawe4].en.srt
subtitles/BlueSky Live 4-2-2025： Beard to Texas A&M rumors surface. Are they real？ \[Upo50CMyU8k].en.srt
subtitles/BlueSky Live 4-7-2025： Ole Miss takes two at Kentucky, Corey Chest commits, more \[JMLJHoNxDfo].en.srt
subtitles/BlueSky Live 4-14-2025： Rebels drop series to Tennessee, Nico Iamaleava, more \[bSsxL85LIcY].en.srt
subtitles/BlueSky Live 4-15-2025： Kids Day Baseball, basketball transfer portal and more \[-3FETFnHHOY].en.srt
subtitles/BlueSky Live 4-23-2025： Ole Miss wins Governor's Cup, NFL Draft and more \[kwAp7g3f9js].en.srt
subtitles/BlueSky Live 4-29-2024： Rebels running out of runway after series loss to Alabama \[Q9vvThBi-R4].en.srt
subtitles/BlueSky Live 4-30-2024： Revenue sharing, CFP, media rights and more \[V_1hfdu7IOM].en.srt
subtitles/BlueSky Live 5-1-2024： No mobile sports betting in Mississippi, Governor's Cup and more \[OlECSJtNtZA].en.srt
subtitles/BlueSky Live 5-6-2024： Ole Miss drops Sunday finale at Auburn and more \[wF4X0KqARsU].en.srt
subtitles/BlueSky Live 5-7-2024： Assorted topics on a Tuesday in May \[qpkNj4cu15E].en.srt
subtitles/BlueSky Live 5-7-2025： Should public know details of NIL deals？ \[pXXYwTWlEhY].en.srt
subtitles/BlueSky Live 5-8-2024： College football betting lines are out \[M_mLY4sqbmI].en.srt
subtitles/BlueSky Live 5-12-2025： Ole Miss loses series at MSU; is hosting out？ \[6ivfDwR0Asc].en.srt
subtitles/BlueSky Live 5-13-2024： Ole Miss baseball stays alive entering final SEC weekend \[PC_9ldVVYMQ].en.srt
subtitles/BlueSky Live 5-13-2025： Rebels close out non-con season with UT-Martin \[ATrKxK2l3ws].en.srt
subtitles/BlueSky Live 5-14-2024： Assorted college sports topics \[9mvxDTYARNs].en.srt
subtitles/BlueSky Live 5-14-2025： Rebels beat UT-Martin, prime for Auburn \[pT4tMcPPYCg].en.srt
subtitles/BlueSky Live 5-15-2024： ABC, mascots and more revenue-sharing talk \[dpxDdFlFkYM].en.srt
subtitles/BlueSky Live 5-19-2025： NCAA baseball, softball to Supers, more \[g62su9q8jkw].en.srt
subtitles/BlueSky Live 5-20-2025： Saying what we can about site changes \[oSOKatcDs9I].en.srt
subtitles/BlueSky Live 5-27-25： NCAA Tournament is set, Ole Miss lands the 10 seed \[WThcYp4lwJo].en.srt
subtitles/BlueSky Live 5-28-2024： SEC Meetings, NCAA brackets and more \[7MmrEZuOC68].en.srt
subtitles/BlueSky Live 5-29-2024： \[KhqkDCy8Qmw].en.srt
subtitles/BlueSky Live 6-3-2024： College baseball recap, Ole Miss football game times and more \[hqBHqLvWd2c].en.srt
subtitles/BlueSky Live 6-4-2024： Ole Miss' schedule a key to '24 hype \[zFF8N8LC5-s].en.srt
subtitles/BlueSky Live 6-5-2024： Rebel Road Trip, NIL asking prices and more \[Dx03cHBOxfg].en.srt
subtitles/BlueSky Live 6-10-24： College baseball, Ole Miss butterfly effect, Caitlin Clark and more \[1Rhwqd-Paoc].en.srt
subtitles/BlueSky Live 6-11-2024： Football hot takes, Dan Hurley and more \[sR39lGoJGkk].en.srt
subtitles/BlueSky Live 6-11-2025： Chris Beard speaks and assorted topics \[aEa9KmvI-G8].en.srt
subtitles/BlueSky Live 6-12-2024： Angst over TV schedules \[G9TeFR-RpPs].en.srt
subtitles/BlueSky Live 6-17-2024： \[sr2EUgn5Zw8].en.srt
subtitles/BlueSky Live 6-19-2024： Matt Moscona joins to talk LSU \[fI-FzoJIF28].en.srt
subtitles/BlueSky Live 6-25-24： De-commitments, uniforms, Tennessee wins a title and more \[Zatl88R21zU].en.srt
subtitles/BlueSky Live 6-25-25： ChatGPT loves the 2025 Rebels \[_57r85qAonk].en.srt
subtitles/BlueSky Live 6-26-2024： Texas-sized drama, jersey patch valuations, more \[VLVh3uIYxX4].en.srt
subtitles/BlueSky Live 7-7-2025： Neal McCready answers Mailbag questions \[hW8bj4GD8fk].en.srt
subtitles/BlueSky Live 7-8-2024： A week away from SEC Media Days \[HH_wAg_k9IA].en.srt
subtitles/BlueSky Live 7-8-2025： Kelvin Bolden leaves for LSU; what does that mean？ \[rDAtZ31V7LQ].en.srt
subtitles/BlueSky Live 7-13-2025： Chase checks in from Atlanta to preview SECMD \[A0hBiDEepV4].en.srt
subtitles/BlueSky Live 7-16-2025： More SEC Media Days talk \[X1SoLHPATTU].en.srt
subtitles/BlueSky Live 7-21-25： Gabe DeArmond joins to talk SEC and more \[WBQ83BPcnu4].en.srt
subtitles/BlueSky Live 7-22-2024： Wrapping up SEC Media Days \[0p6GKJ3rPbk].en.srt
subtitles/BlueSky Live 7-22-2025： Rylan Stiles and Ti Windisch join \[DHviPwrT8FU].en.srt
subtitles/BlueSky Live 7-23-2024： Assorted college football topics \[P5JPlTQ5Ol8].en.srt
subtitles/BlueSky Live 7-23-2025： Ryan Brown joins \[c1K5k6Mzv94].en.srt
subtitles/BlueSky Live 7-28-2025： Football is here, basketball prices and more \[_mW13go6BU0].en.srt
subtitles/BlueSky Live 7-29-2024： Preseason camp week has arrived \[Ss00eOslg0g].en.srt
subtitles/BlueSky Live 7-29-2025： Preseason camp arrives \[R8AVd42Zv78].en.srt
subtitles/BlueSky Live 7-30-2024： The season has arrived \[0zuqnU55lAE].en.srt
subtitles/BlueSky Live 7-30-2025： Ole Miss' camp is underway \[U-fSk9iW0bc].en.srt
subtitles/BlueSky Live 8-4-2025： Getting set for another week of camp \[LI_dF4N-ZyY].en.srt
subtitles/BlueSky Live 8-5-2024： Preseason camp enters Week 2 \[nfwcHF7MuUQ].en.srt
subtitles/BlueSky Live 8-6-2024： Kiffin speaks, Coaches Poll, Jim Harbaugh and more \[DTNoew9gHhU].en.srt
subtitles/BlueSky Live 8-13-2024： Ole Miss opens at No. 6 in AP Poll \[ebSNAS_mWq4].en.srt
subtitles/BlueSky Live 8-13-2025： Turning Neal's Mailbag into a podcast \[wbOEyIjOewI].en.srt
subtitles/BlueSky Live 8-14-2024： More rankings. Do they mean anything？ \[e_yUh8D_vwQ].en.srt
subtitles/BlueSky Live 8-20-2024： More CFP projections, non-con hoops schedule and more \[frDtjuFwIP4].en.srt
subtitles/BlueSky Live 8-20-2025： Ten days to kickoff \[Io51j0UFg_Q].en.srt
subtitles/BlueSky Live 8-21-2024： Basketball schedule, Beard's new deal and more \[UnyGO2Twvt0].en.srt
subtitles/BlueSky Live 8-25-2025： It's game week, lines, Chase's thoughts from the weekend, more \[KI2xVHtd_l8].en.srt
subtitles/BlueSky Live 8-26-2024： It's finally game week \[Am7Qz5wB6lU].en.srt
subtitles/BlueSky Live 8-26-2025： What to expect from Austin Simmons？ \[bd2sTAK1O-4].en.srt
subtitles/BlueSky Live 8-27-2024： Kiffin speaks, NFL QB tiers and more \[gNJS0vtMiwk].en.srt
subtitles/BlueSky Live 8-28-2024： SEC over-unders, NFL QB tiers, more \[aV8o2lRzFko].en.srt
subtitles/BlueSky Live 9-3-2024： Looking ahead to Week 2 \[7wGVydn6SIM].en.srt
subtitles/BlueSky Live 9-4-2024： No 'Love Story' for Taylor & Travis？ \[FHVdWiX65ng].en.srt
subtitles/BlueSky Live 9-8-2025： One last look back at Kentucky and a look ahead to Arkansas \[QZ9i0ZA4vgE].en.srt
subtitles/BlueSky Live 9-9-2024： Another crowd controversy？ \[AzQRPN7xbGc].en.srt
subtitles/BlueSky Live 9-9-2025： Lane Kiffin speaks, Austin Simmons, Pitt series and more \[5xzivBX2VVo].en.srt
subtitles/BlueSky Live 9-10-2024： Kiffin speaks, NFL season underway, NIL well-spent？ \[EFkaobEBzxQ].en.srt
subtitles/BlueSky Live 9-11-2024： Jonathan Randolph joins, plus various CFB topics \[_nCyK7sjits].en.srt
subtitles/BlueSky Live 9-15-2025： A look back at Arkansas, a look ahead to Tulane \[zwysDzXjt78].en.srt
subtitles/BlueSky Live 9-16-2024： Weekend wrap-up, betting lines and more \[7fEESCRM9o0].en.srt
subtitles/BlueSky Live 9-16-2025： Another week of QB drama？ \[IUpfppIYF_w].en.srt
subtitles/BlueSky Live 9-17-2024： Kiffin speaks, Hunter Yuracheck, Georgia Southern, NFL and more \[bdDt65e5GaA].en.srt
subtitles/BlueSky Live 9-18-2024： College football and NFL talk \[PNXBQijRilw].en.srt
subtitles/BlueSky Live 9-23-2024： The SEC slate has arrived for Ole Miss \[o9rPEP57wUc].en.srt
subtitles/BlueSky Live 9-23-2025： Isaac Ukwu joins to break down LSU-Ole Miss \[haxWuJAEH44].en.srt
subtitles/BlueSky Live 9-24-2025： Ryan McGee and Matt Moscona join \[Z5nIgch7QbM].en.srt
subtitles/BlueSky Live 9-25-2024： \[qhUZKD1P3Wo].en.srt
subtitles/BlueSky Live 9-29-2025： Ole Miss jumps to No. 4 and into the CFP mix with win over LSU \[MW5WlCNgoQk].en.srt
subtitles/BlueSky Live 9-30-2024： One last look back at UK, turning the page to Carolina \[VgGWNL4-eCY].en.srt
subtitles/BlueSky Live 10-14-2024： LSU aftermath, lines for the week, more \[1tpF8UVLYtM].en.srt
subtitles/BlueSky Live 10-15-2024： Kiffin speaks, SEC⧸Big Ten alliance, NFL and more \[AHeEypowy1I].en.srt
subtitles/BlueSky Live 10-16-2024： We're not sure what we're talking about \[1WMQSqXWoZ4].en.srt
subtitles/BlueSky Live 10-21-2024： Rebels ready for bloodied Oklahoma, weekend wrap-up, more \[mAeZfXnL8a0].en.srt
subtitles/BlueSky Live 10-22-2024： Kiffin speaks, TV numbers, NFL and more \[9_e5kARRQaI].en.srt
subtitles/BlueSky Live 10-23-2024： Keith Carter joins \[9S2mPn6Ctjo].en.srt
subtitles/BlueSky Live 10-28-2024： Wrapping up Oklahoma, lines, hoops and more \[33gSjQZK3qs].en.srt
subtitles/BlueSky Live 10-29-2024： Kiffin speaks, NFL and more \[J7EvXcnFYfQ].en.srt
subtitles/BlueSky Live 10-30-2024： Taylen Green, TV ratings, Halloween candy and more \[LMzefyUk314].en.srt
subtitles/BlueSky Live 11-6-2024： First CFP rankings released \[SjmUc1rRKy4].en.srt
subtitles/BlueSky Live 11-11-2024： One last look at UGA as Rebels enter bye week \[u6Cy5MTEyBQ].en.srt
subtitles/BlueSky Live 11-12-2024： Kiffin speaks, CFP, South Alabama-Ole Miss hoops and more \[upOUlKwINWM].en.srt
subtitles/BlueSky Live 11-13-2024： Ole Miss moves up to No. 11 in CFP \[zu2tSfPYoKE].en.srt
subtitles/BlueSky Live 11-18-2024： Rebels prep for Florida as CFP debate rages on \[5Q-4WHvAA10].en.srt
subtitles/BlueSky Live 11-19-2024： Kiffin speaks, Tre Harris' availability and a look at lines \[UbDq-opT8yQ].en.srt
subtitles/BlueSky Live 11-20-2024： New CFP rankings released \[7IePvfdr8Wc].en.srt
subtitles/BlueSky Live 11-25-2024： Florida aftermath, CFP hopes and more \[yLTmCmUREiE].en.srt
subtitles/BlueSky Live 11-26-2025： Kiffin pressed on Bentley as Egg Bowl week begins \[w3CTJBD9izc].en.srt
subtitles/BlueSky Live 11-27-2024： Latest CFP rankings released, Thanksgiving and more \[Heu8Cqrt3Rk].en.srt
subtitles/BlueSky Live 12-2-2024： It's championship week, but it doesn't feel like it \[1QCE474mCVU].en.srt
subtitles/BlueSky Live 12-3-2024： CFP rankings, hoops, conference title games and more \[XqwErph1DOQ].en.srt
subtitles/BlueSky Live 12-10-2024： Opt-outs, transfer portal and more \[YGS8NDwrH7M].en.srt
subtitles/BlueSky Live 12-11-2024： CFP expansion already, SEC hoops, Belichick⧸UNC and more \[Q62p40iPDBs].en.srt
subtitles/BlueSky Live 12-16-2024： Transfer portal, hoops and more \[TR_dCdWRio0].en.srt
subtitles/BlueSky Live 12-17-2024： Transfer portal, Gator Bowl prep and more \[kYCxzrUTeoU].en.srt
subtitles/BlueSky Live 12-18-2024： Portal in full swing, SEC has big hoops night, more \[jIH8lTBgiI4].en.srt
subtitles/BlueSky Live： 72-team super league, Tom Brady, Gonzaga and more \[RkZ1AD3EW9s].en.srt
subtitles/BlueSky Live： Austin Simmons among Ole Miss Media Day participants \[XuHV6lmqFC8].en.srt
subtitles/BlueSky Live： Baseball offseason set up; ESPN FPI says Ole Miss a playoff team？ \[ENzm4Ninm54].en.srt
subtitles/BlueSky Live： Best case, worst case for Ole Miss football \[isYLsCTMzuk].en.srt
subtitles/BlueSky Live： Can Ole Miss limit the middle of the field？ \[7Y2NJNP6pxA].en.srt
subtitles/BlueSky Live： Changes already coming to CFP format？ \[xljuykce4mM].en.srt
subtitles/BlueSky Live： Chase and Siskey discuss the North Pole \[VhdOa4WCWWs].en.srt
subtitles/BlueSky Live： Chris Clark joins to discuss South Carolina \[vrGAFQ6aAas].en.srt
subtitles/BlueSky Live： Coaches, school and emotions \[pEMpDX3jeEc].en.srt
subtitles/BlueSky Live： Do you even recognize this Ole Miss program？ \[TQJCSDTql28].en.srt
subtitles/BlueSky Live： Does Mizzou change the calculus？ \[P204IikAjkA].en.srt
subtitles/BlueSky Live： Does the Governor's Cup matter？ \[MXPmmHG7trY].en.srt
subtitles/BlueSky Live： Final week before game week \[78t-dM9E9Us].en.srt
subtitles/BlueSky Live： Gator Bowl week for Rebels \[G6reMlexlJE].en.srt
subtitles/BlueSky Live： Getting ready for a big week ahead \[THmRxR8fU0U].en.srt
subtitles/BlueSky Live： House Settlement gets preliminary approval \[9lOcWn0YV1U].en.srt
subtitles/BlueSky Live： Kiffin speaks (so does Freeze), NFL and more \[KB3zN-ZKpyw].en.srt
subtitles/BlueSky Live： Lane Kiffin hits correct notes \[_YDYxnv6v5s].en.srt
subtitles/BlueSky Live： Lane Kiffin is ready to move on to South Carolina \[UUmMPlgU95Y].en.srt
subtitles/BlueSky Live： LSU wins CWS, Thunder claim NBA title, more \[2KbVY4taNn0].en.srt
subtitles/BlueSky Live： Mike Bianco is coming back in 2025 \[rDRWaCScVwc].en.srt
subtitles/BlueSky Live： Now that it's July 1... \[zLZC93FFzPY].en.srt
subtitles/BlueSky Live： Ole Miss gets shot to save season vs. Georgia \[k1_zl95PaX4].en.srt
subtitles/BlueSky Live： Ole Miss grabs road win at Arkansas \[TnvthrrZ7CU].en.srt
subtitles/BlueSky Live： Ole Miss has made it to LSU week \[rYkZ1-FhTco].en.srt
subtitles/BlueSky Live： Ole Miss in line for another Lexington nail-biter？ \[wzFytttzx0g].en.srt
subtitles/BlueSky Live： Ole Miss leaves today for Atlanta \[4Dd1394TV1s].en.srt
subtitles/BlueSky Live： Ole Miss salvages a game at Oklahoma, Travis Perry and more \[n4AAct2ur_U].en.srt
subtitles/BlueSky Live： Ole Miss suffocates Carolina; LSU up next \[fXjqhoF2JME].en.srt
subtitles/BlueSky Live： Rebels add NFL Draft piece to program profile \[59efzCITUpQ].en.srt
subtitles/BlueSky Live： Rebels get March moment in win over Hogs \[tqOm2RcFGyo].en.srt
subtitles/BlueSky Live： Rebels have busy portal day; Kids' Day strikes again \[k9erssKDxwY].en.srt
subtitles/BlueSky Live： Rebels head to Lexington as double-digit favorites \[gkTxKNtfUqw].en.srt
subtitles/BlueSky Live： Rebels increasing contact this preseason camp \[rUsdVszX3sA].en.srt
subtitles/BlueSky Live： Rebels on verge of first hoops commit？ \[qvzpJtDpMZY].en.srt
subtitles/BlueSky Live： Rebels outside top 20 in first AP Top 25 \[WiQ00ZwXF04].en.srt
subtitles/BlueSky Live： Rebels put on fall pads for Monday practice \[pgdNHW6c_wo].en.srt
subtitles/BlueSky Live： Rebels ready for another blue blood \[XaxctECaCqo].en.srt
subtitles/BlueSky Live： Rebels start 5-game week with Tennessee this weekend \[EQWeRELIyhA].en.srt
subtitles/BlueSky Live： Rebels start week with perfect night at Memphis \[WjoEt3n9S2I].en.srt
subtitles/BlueSky Live： Rebels suffer rough week, still above .500 in SEC \[wKYAl1kVVsw].en.srt
subtitles/BlueSky Live： Rebels survive Arkansas State; hoops gets needed rest \[Z-r-Ub3kZj0].en.srt
subtitles/BlueSky Live： Rebels, Tigers set for stakes-filled Saturday \[wySEez9mf0Y].en.srt
subtitles/BlueSky Live： SEC football a day away \[f637cxR-Tps].en.srt
subtitles/BlueSky Live： SEC meetings more chaotic than usual \[rU9ADqLnczo].en.srt
subtitles/BlueSky Live： Show me the money \[HXrbVQeRNPk].en.srt
subtitles/BlueSky Live： Weekend wrap, MSU beats 'complacent' Rebels, baseball gets 2 of 3 \[iH1bpck1UeM].en.srt
subtitles/BlueSky Live： What to make of the Diamond Rebs？ Hoops finds out opponent tonight \[8nt9ORKSQqM].en.srt
subtitles/BlueSky Live： What to make of the Ole Miss scrimmage struggles on offense？ \[yDh_-GUYtUY].en.srt
subtitles/BlueSky Live： What will it take for Ole Miss to replicate recent success？ \[SXBwoI9WOLQ].en.srt
subtitles/BlueSky Live： Where will we find drama in week two？ \[RpRatVxKlPI].en.srt
subtitles/BlueSky Live： Which Rebels will most impact the CFP？ \[QB53AAKVGM4].en.srt
subtitles/BlueSky Live： Will the MLB Draft be kind to Ole Miss？ \[BvkeWHtwpPM].en.srt
subtitles/Oxford Exxon Podcast 9-25-23： Turning the page to LSU, early lines, more \[UCxqrbxJmPM].en.srt
subtitles/Oxford Exxon Podcast 9-26-23： Kiffin speaks, NFL and John Fourcade \[9K1D5UiQ2Jg].en.srt
subtitles/Oxford Exxon Podcast Extra Edition： No. 10 Ole Miss at No. 1 Georgia \[eFpsLbkXj_w].en.srt
subtitles/Oxford Exxon Podcast Extra Edition： No. 15 Ole Miss at No. 13 Alabama \[470hQgp5Xo8].en.srt
subtitles/Oxford Exxon Podcast Extra Edition： Previewing No. 13 Ole Miss at Auburn \[IyV0kk1nlI0].en.srt
subtitles/Oxford Exxon Podcast Special Edition： Ryan Brown \[ADfIp3N_CIc].en.srt
subtitles/Oxford Exxon Podcast： \[36zVU_pvyVU].en.srt
subtitles/Oxford Exxon Podcast： \[mB0A0_Ru44k].en.srt
subtitles/Oxford Exxon Podcast： \[VvSgKIGnd3c].en.srt
subtitles/Oxford Exxon Podcast： 8 vs. 9-game schedules, NCAA field set, Heat shock Celtics in Game 7 \[2Hj7kRkQECw].en.srt
subtitles/Oxford Exxon Podcast： 12-13-22 \[nmtM2cATgFA].en.srt
subtitles/Oxford Exxon Podcast： Assorted topics \[1Wrum2OSss8].en.srt
subtitles/Oxford Exxon Podcast： Assorted topics to wrap up a short week \[EWwrbkDLxwo].en.srt
subtitles/Oxford Exxon Podcast： Aug. 31, 2021 \[9qfQpzTNcts].en.srt
subtitles/Oxford Exxon Podcast： Baseball season is 'over,' portal developments and more \[kVlrT2Pxqsw].en.srt
subtitles/Oxford Exxon Podcast： Chris Davis de-commits, Nuggets win the title, CWS field set \[Ber_XlD7JMY].en.srt
subtitles/Oxford Exxon Podcast： Collectives vs. NCAA battle looms, an analytical top 25 and more \[bunVpmxrcBQ].en.srt
subtitles/Oxford Exxon Podcast： EA Sports⧸NIL lawsuit, recruiting and more \[LIzfaCHgChs].en.srt
subtitles/Oxford Exxon Podcast： Failure to finish \[ogVUj5V2tUA].en.srt
subtitles/Oxford Exxon Podcast： Field-storming, Jimmy Butler and more \[qtjQPHGjJxM].en.srt
subtitles/Oxford Exxon Podcast： Football season has arrived \[KoQMb3do2YU].en.srt
subtitles/Oxford Exxon Podcast： Hoops recruiting, baseball's third assistant and more \[zh94qzFijW4].en.srt
subtitles/Oxford Exxon Podcast： How will the MLB Draft impact Ole Miss and more \[rKnRogp1dCI].en.srt
subtitles/Oxford Exxon Podcast： It's Game Week \[W2X0ql_SFSU].en.srt
subtitles/Oxford Exxon Podcast： It's schedule day; who will Ole Miss play？ \[DiBJgAj44Z8].en.srt
subtitles/Oxford Exxon Podcast： It's schedule day; who will Ole Miss play？ \[oZXCgNsvNRs].en.srt
subtitles/Oxford Exxon Podcast： Jared Ivey joins \[gISabTkTN9A].en.srt
subtitles/Oxford Exxon Podcast： Jeffrey Wright joins \[_eOt-oYpIyg].en.srt
subtitles/Oxford Exxon Podcast： Jeffrey Wright joins \[DkWH2UoDLi0].en.srt
subtitles/Oxford Exxon Podcast： Jeffrey Wright joins \[MIp_FO9Ju7c].en.srt
subtitles/Oxford Exxon Podcast： Jeffrey Wright joins \[nAjx6EsLZS0].en.srt
subtitles/Oxford Exxon Podcast： Keon Coleman, gambling rocking college sports, more \[tJA-zFuUi0Y].en.srt
subtitles/Oxford Exxon Podcast： Kiffin declines to name a quarterback \[a0rqB4cXHOM].en.srt
subtitles/Oxford Exxon Podcast： LSU wins national title, SEC sets hoops schedule and more \[bEWgbiLT3aE].en.srt
subtitles/Oxford Exxon Podcast： MLB Draft fallout, Pat Fitzgerald and more \[OXyfLDDk_10].en.srt
subtitles/Oxford Exxon Podcast： More realignment talk amid new Pac-12 TV deal \[8AiCfr8aCus].en.srt
subtitles/Oxford Exxon Podcast： Neal's Mailbag Edition \[aXSSDtxQd4c].en.srt
subtitles/Oxford Exxon Podcast： Oher⧸Tuohy, AP Top 25 and more \[EoA-3SPLTNw].en.srt
subtitles/Oxford Exxon Podcast： Ole Miss football recruiting momentum plus a weekend wrap-up \[9dhBz2SWX-g].en.srt
subtitles/Oxford Exxon Podcast： Ole Miss lands more commitments, college baseball season has one game left \[f90KnDtaR6Q].en.srt
subtitles/Oxford Exxon Podcast： One last week without football \[FvJHIX6D9vY].en.srt
subtitles/Oxford Exxon Podcast： Pat Hughes, Deion Sanders and much more \[_f7K1EYmHoE].en.srt
subtitles/Oxford Exxon Podcast： Player stats, NFL MVP odds, Oher update and more \[e47NQoN3lzQ].en.srt
subtitles/Oxford Exxon Podcast： Preseason camp begins, Ole Miss media day and more \[VARTv3SxY3I].en.srt
subtitles/Oxford Exxon Podcast： Previewing Week Zero, ACC expansion, Ohtani hurt and more \[g4GTQuybkc8].en.srt
subtitles/Oxford Exxon Podcast： Reacting to Chris Beard, managing NIL and more \[ejjXr9D6xFk].en.srt
subtitles/Oxford Exxon Podcast： Recapping Saturday's scrimmage, looking ahead to Week 3 of camp \[RSE1WppUJ8c].en.srt
subtitles/Oxford Exxon Podcast： Recapping the weekend \[2vLp-Kch7rg].en.srt
subtitles/Oxford Exxon Podcast： Sankey shoots down expansion, an interesting NIL law in Missouri and more \[BACf1IzEs84].en.srt
subtitles/Oxford Exxon Podcast： The Big Ten's convoluted media rights package, Nuggets win and more \[_YLblqCrO-s].en.srt
subtitles/Oxford Exxon Podcast： Tons of NIL (and pay-for-play) talk dominates Destin meetings \[3pASkB_s9Ww].en.srt
subtitles/Oxford Exxon Podcast： Transfer portal prices, Big 12 maneuvers, more \[VvKoe-wBxyE].en.srt
subtitles/Oxford Exxon Podcast： We're just waiting now \[c3MJVMxfshY].en.srt
subtitles/Oxford Exxon Podcast： Wednesday miscellany \[9_Hrj6iGOxI].en.srt
subtitles/Oxford Exxon Podcast： Wednesday, 1-19-2022 \[HUUQCfQedzE].en.srt
subtitles/Oxford Exxon Podcast： Week 2 of preseason camp begins, realignment madness, more \[RGkZNmDjWc0].en.srt
subtitles/Oxford Exxon Podcast： Week Zero arrives, Kamarion Franklin and more \[Mw8KwTaWeh0].en.srt
subtitles/Oxford Exxon Podcast： Weekend review \[MRrP9mnUzRQ].en.srt
subtitles/Oxford Exxon Podcast： \[74K0weiIGpo].en.srt
subtitles/Oxford Exxon Podcast： \[XADxBmpM0nc].en.srt
subtitles/Oxford Exxon Podcast： College football brackets, NCAA Tournament betting lines and more \[03Fgkfly3To].en.srt
subtitles/Oxford Exxon Podcast： Grove Bowl recap, Rebs lose series at MSU, more \[v-GeekGK-gk].en.srt
subtitles/Oxford Exxon Podcast： It's a potpourri Tuesday \[GPY835HdauI].en.srt
subtitles/Oxford Exxon Podcast： Jaxson Dart speaks, Ole Miss gets turfed-out, more \[jYXzJGZg7ps].en.srt
subtitles/Oxford Exxon Podcast： Kiffin talks Oxford, Judkins makes media debut, Rebels lose to Memphis, more \[r5KesZVgsdA].en.srt
subtitles/Oxford Exxon Podcast： More QB drama, baseball switches rotation, more \[JY-K2lp8CYc].en.srt
subtitles/Oxford Exxon Podcast： Permanent opponents, spring football exhibitions, more \[JrdZarvEZGs].en.srt
subtitles/Oxford Exxon Podcast： Rebels drop series to Razorbacks, The Masters, NBA Playoffs set and more \[ugqTKXwNpFs].en.srt
subtitles/Oxford Exxon Podcast： Rebels drop two in College Station, Final Fours, spring football and more \[EvMas6oYKSY].en.srt
subtitles/Oxford Exxon Podcast： Rebels swept vs. Florida, Kiffin talks AU search, Final Four set, more \[nWwJe7Fj9YY].en.srt
subtitles/Oxford Exxon Podcast： Spring football begins; what are we looking for？ \[kAPxgKGEhXM].en.srt
